useDynLib(LaplacesDemonCpp)
import(LaplacesDemon, Rcpp, RcppArmadillo)
export(dhalfcauchy,
       dmvn,
       dmvnc,
       dwishart,
       dwishartc,
       interval,
       is.positive.definite,
       is.symmetric.matrix,
       partial,
       rhalfcauchy,
       rmvn,
       rmvnc,
       rmvnp,
       rmvnpc,
       rwishart,
       rwishartc,
       tr)
