useDynLib(LaplacesDemonCpp)
import(LaplacesDemon, Rcpp, RcppArmadillo)
export(dhalfcauchy,
       dmvn,
       dmvnc,
       dwishart,
       interval,
       is.positive.definite,
       is.symmetric.matrix,
       partial,
       rwishart,
       tr)
